<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django - Página Inicial!</title>
</head>
<body>
    <h1>Aprendendo a mexer com templates no Django! </h1>
    <h2>Estou bem Animado! =D</h2>
    <p>{{ kalebe }}</p>
    <h1>Ainda estou no Django Básico!</h1>

    <!-- Mostrando os dodos dos produtos  -->
{% for produto in produtos %}
    <a href="{% url 'produto' produto.id %}">
        <p>{{ produto }}</p>
    </a>
{% endfor %}
</body>
</html>